<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Greet</title>
</head>

<body>
    <h2>
        <%- routeParam && await include('../partials/greeting', { name: routeParam }) %>
    </h2>
</body>

</html>