<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Example</title>
</head>

<body>
    <% if (req.method === 'POST') { %>
    <h2>
        <%- await include('../partials/greeting', { name: (await req.formData()).get('name') }) %>
    </h2>
    <% } else { %>
    <form method="POST">
        <input type="text" name="name" />
        <button type="submit">Submit</button>
    </form>
    <% } %>
</body>

</html>